* {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: #000;
}

/* front */

.front-container {
  display: grid;

  grid-template-columns: 800px 10px;
}

.headings {
  display: inline-block;
  padding-left: 300px;
  padding-top: 270px;
  /* border: 1px solid red; */
}

.name {
  font-family: "Dancing Script", cursive;
}

.title {
  font-family: "Lora", serif;
}

.computer-image-container {
  display: inline-block;
  /* border: 1px solid red; */
}

.computer-image {
  clip-path: circle(34.3% at 50% 48%);
  width: 1300px;
  margin-left: -450px;
  margin-top: -35px;
  display: inline-block;
}

.projects-link {
  display: block;
  padding-bottom: 8px;
  font-family: "Lora", serif;
}

.about-link {
  display: block;
  padding-bottom: 8px;
  font-family: "Lora", serif;
}

.contact-link {
  display: block;
  font-family: "Lora", serif;
}

/* front */

.wikipedia {
  padding-top: 100px;
  width: 50%;
}

.tours {
  width: 50%;
}

.wikipedia-react-label {
  display: block;
}

.wikipedia-server-label {
  display: block;
}

.tours-container {
  padding-left: 700px;
}

.wikipedia-container {
}

.fade-in-header {
  opacity: 1;
  animation-name: fadeInOpacityHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacityHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-image {
  opacity: 1;
  animation-name: fadeInOpacityImage;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.02s;
}

@keyframes fadeInOpacityImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.github-label {
  display: block;
}

.projects-header {
  padding-top: 90px;
  text-align: center;
  padding-bottom: 50px;
  font-family: "Lora", serif;
}

.my-photo {
  border-radius: 50%;
  filter: gray;
  filter: grayscale(1);
  width: 10%;
}
